main {
  /* background-color: rgb(43, 43, 43); */
  background-image: url("./../img/chalkboard-blackboard-dark-wallpaper-background_28629-1126.jpg");
  background-repeat: no-repeat, repeat;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  overflow: hidden;
}

.text_contact {
  width: 70%;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.text_contact h1 {
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text_contact ul {
  transform: translateX(30px);
  padding-bottom: 20px;
  padding-top: 10px;
}

.text_contact ul li {
  padding-top: 5px;
}

.text_contact ul li a {
  text-decoration: none;
  color: rgb(202, 229, 255);
  font-weight: bold;
}

.container {
  margin: auto;
  width: 80%;
  height: calc(100vh - 265.67px);
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.603);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: auto;
  border-radius: 20px;
  padding-bottom: 10px;
  color: rgb(238, 238, 238);
}

.spacer {
  padding: 0 0 10px 20px;
}

.container textarea {
  height: calc(100vh - 397.67px - 200px);
  min-height: 60px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #5070da;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3243e0;
}