<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= , initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/mainpage.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Sintony" rel="stylesheet">
        <title>INProd</title>

        <!-- JAVASCRIPT -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="js/app.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    </head>

    <body>
        

        <!-- Navigation bar -->
        {{!-- <div w3-include-html="nav.html"></div> --}}
        {{> nav}}


        <!-- Corps de la page -->
        <main>
            <!-- Page d'accueil -->
            <div class="main_page_image" >
                <div class="center-home-header">
                    <div class="center-home-element">
                        <img src="img/LOGO_INPROD_blanc_notext.png" width="140px" height="100px">
                    </div>
                    <div class="center-home-element">
                        <div class="text-home">
                            <a href="#showreel_bg" class="showreel-text">
                                Bande démo ǀ Showreel
                            </a>
                            <a href="#showreel_bg" class="showreel-text-small">
                                Showreel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Présentation de l'asso -->
            <div data-aos="fade-left" data-aos-duration="1000" class="presentationasso">
                <a href="https://www.instagram.com/martin.fournier270/">
                    <img src="img/image_martin.PNG" width="500px" alt="">
                </a>
                <div class="presentationassotxt">
                    L'INProd est l'association étudiante de photo/vidéo de Grenoble INP. Des soirées, en passant par les évènements sportifs, culturels, ou tout simplement un projet personnel... les projets sont divers !
                    <br><br>
                    Que ce soit tournages, photographies, animation et bien d’autre, l’INProd vous propose ses services !
                    <br>
                    <div class="ensavoirplus">
                        <a href="pages/Association.html">
                            en savoir plus
                        </a>
                    </div>
                </div>
            </div>
            <!-- Vidéo de démo -->
            <div id="showreel_bg">
                <iframe data-aos="fade-up" data-aos-duration="1000" 
                scrolling=“no” width="100%" height="100%" 
                src="https://youtube.com/embed/gKOTByWrkIY?controls=0&showinfo=0&autohide=1" 
                frameborder="0"></iframe>
            </div>
        </main>


        <!-- Footer -->
        <div w3-include-html="pages/footer.html"></div>


        <!-- Scripts -->
        
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="/__/firebase/7.15.5/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="/__/firebase/7.15.5/firebase-analytics.js"></script>
        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>
        <!-- Own scripts -->
        <script>
            w3.includeHTML(app); 
            
            function app() {
                navSlide();
                hideShowreelBurger();
                AOS.init();
            }
        </script>
        

    </body>

</html>